.c-controls-control-content
  each fieldName in order
    .c-controls-control(field_id="#{fieldName}")
      if fields[fieldName].icon
        i(class="#{fields[fieldName].icon}",title="#{fields[fieldName].label}") &#{fields[fieldName].iconlabel};
      else
        label. #{fields[fieldName].label}
      if fields[fieldName].type === 'range'
        .group
          i.icon-to-start-1.c-controls-control-button(action="first")
          i.icon-fast-backward.c-controls-control-button(action="previous")
          label.value #{fields[fieldName].values[fields[fieldName].activeIdx]}
          input(type="range", value="#{fields[fieldName].activeIdx}", min="0", max="#{fields[fieldName].values.length - 1}", step="1")
          i.icon-fast-forward.c-controls-control-button(action="next")
          i.icon-to-end-1.c-controls-control-button(action="last")
      else
        select
          each option in fields[fieldName].values
            option. #{option}