.row
  .col-sm-8.c-lookuptable-swatches
    each c, i in colors
        if i % 31 === 0
          .color-group
              each color in colors.slice(i, i + 31)
                .color(style="background: rgb(#{color.r},#{color.g},#{color.b})", color="#{color.r},#{color.g},#{color.b}")
  .col-sm-4
    .color.c-lookuptable-color(style="background: rgb(0,255,0)", color="0,255,0")

canvas.c-lookuptable-canvas(width="280", height="50")

.row
    label.col-sm-4.control-label(style="top:4px;position:relative;"). Presets
    .col-sm-8
        select(data-type="lutName").form-control.input-sm
            each name in luts
                option #{name}
