each object, idx in metadata.pipeline
  if object.type === 'directory'
    .c-pipeline-element-header(directory-id="#{idx}")
      a.c-pipeline-visibility-toggle
        i.icon-eye.c-pipeline-icon
      a.c-directory-color-select(data-toggle="popover", data-trigger="click", tabindex="-1")
        i.icon-brush
      span.c-pipeline-name= object.name
      a.c-pipeline-layers-select(data-toggle="popover", data-trigger="click", tabindex="-1")
        i.icon-plus-circled

      each layer in object.children
        .c-pipeline-layer-wrapper(layer-id="#{layer.ids[0]}", directory-id="-1")
          a.c-remove-layer-toggle
            i.icon-cancel-circled.c-pipeline-icon
          a.c-layer-color-select(data-toggle="popover", tabindex="-1")
            i.icon-brush
          span.c-layer-name= layer.name

  else if object.type === 'layer'
    .c-pipeline-element-header(layer-id="#{object.ids[0]}", directory-id="-1")
      a.c-pipeline-visibility-toggle
        i.icon-eye.c-pipeline-icon
      a.c-layer-color-select(data-toggle="popover", data-trigger="click", tabindex="-1")
        i.icon-brush
      span.c-pipeline-name= object.name
      a.c-remove-layer-toggle.hide
