.c-options-option-content
  each optionName in options
     .c-options-option(option_id="#{optionName}")
        if optionMap[optionName].icon
           i(class="#{optionMap[optionName].icon}",title="#{optionName}") &#{optionMap[optionName].iconlabel};
        else
           label. #{optionMap[optionName].label}
        if optionMap[optionName].type === 'range'
           .group
              i.icon-to-start-1.c-options-option-button(action="first")
              i.icon-fast-backward.c-options-option-button(action="previous")
              label.value #{optionMap[optionName].label}
              input(type="range", value="#{optionMap[optionName].value}", min="#{optionMap[optionName].min}", max="#{optionMap[optionName].max}", step="#{optionMap[optionName].step}")
              i.icon-fast-forward.c-options-option-button(action="next")
              i.icon-to-end-1.c-options-option-button(action="last")
