.c-search-information-content
  .c-pipelines-info
    each object, idx in metadata.pipeline
      if object.type === 'directory'
        .c-information-element-header
          span.c-information-name= object.name
          each layer in object.children
            .c-information-layer-wrapper
              label.c-layer-id #{layer.ids[0]}:
              span.c-layer-name= layer.name
      else if object.type === 'layer'
        .c-information-element-header
          label.c-information-id #{object.ids[0]}:
          span.c-information-name= object.name
  hr(style="margin: 5px 0; border-color: #666;")
  .c-controls-info
    each controlName in order
      .c-information-element-header
        if controlMap[controlName].type === 'range'
          label.c-information-id #{controlMap[controlName].label}: [#{controlMap[controlName].values[0]},...,#{controlMap[controlName].values[controlMap[controlName].values.length-1]}]
        else
          label.c-information-id #{controlMap[controlName].label}: [#{controlMap[controlName].values}]