extends dashboardView
block content
  - var irow = 0, icol = 0, item = 0, w = Math.floor(12/grid.cols), h = Math.floor(12/grid.rows)
  while irow < grid.rows
    div(class=["c-dv-layout-row", "row", "c-dv-row-height-" + "#{h}"], row-index="#{irow}")
      while icol < grid.cols
        div(class=["c-dv-layout-item-container", "col-md-" + "#{w}"], col-index="#{icol}", item-index="#{item}")
          +dashboard-item
        - icol++; item++
    - irow++; icol = 0
