.c-rv-viewport-container
.c-rv-left-control-area
  each controlPanel in controlPanels
    if controlPanel.position == 'left'
        .c-control-panel(class="c-rv-#{controlPanel.key}-panel")
          .c-control-panel-header
            .c-panel-title
              i.c-rv-icon(title="Close", class="#{controlPanel.icon}").panel-close(class="c-#{controlPanel.key}-panel-close")
              | #{controlPanel.title}
            .c-panel-toolbar
          .c-control-panel-body(class="c-rv-#{controlPanel.key}-control-container")

.c-rv-right-control-area
  each controlPanel in controlPanels
    if controlPanel.position == 'right'
        .c-control-panel(class="c-rv-#{controlPanel.key}-panel")
          .c-control-panel-header
            .c-panel-title
              i.c-rv-icon(title="Close", class="#{controlPanel.icon}").panel-close(class="c-#{controlPanel.key}-panel-close")
              | #{controlPanel.title}
            .c-panel-toolbar
          .c-control-panel-body(class="c-rv-#{controlPanel.key}-control-container")