doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= config.title
    link(rel="stylesheet", type="text/css", href="#{config.staticRoot}fontello/css/fontello.css")

    each css in cssFiles
      link(rel="stylesheet", type="text/css", href="#{config.staticRoot}#{css}")
    each js in jsFiles
      script(type="text/javascript", src="#{config.staticRoot}#{js}")
  body
    #c-data-root= config.dataRoot
    #c-static-root= config.staticRoot
